<a href="https://colab.research.google.com/github/Angelaliliam1989/Mujeresdigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [6]:
import pandas as pd

In [11]:
# Escriba su código 
from google.colab import files
uploaded = files.upload()

Saving pokemon_data.csv to pokemon_data.csv

In [12]:
import os
print(os.getcwd())

/content

In [13]:
pk=pd.read_csv('pokemon_data.csv',sep=",")

In [14]:
pk_type=pk['Type 1'].unique()

In [15]:
pk['interes']=False

In [ ]:
pk.head(800)

In [50]:
pk.loc[pk['Type 1'] == "Fire",:]

       #                       Name Type 1  ... Generation  Legendary  interes
4      4                 Charmander   Fire  ...          1       True     True
5      5                 Charmeleon   Fire  ...          1       True     True
6      6                  Charizard   Fire  ...          1       True     True
7      6  CharizardMega Charizard X   Fire  ...          1       True     True
8      6  CharizardMega Charizard Y   Fire  ...          1       True     True
42    37                     Vulpix   Fire  ...          1       True     True
43    38                  Ninetales   Fire  ...          1       True     True
63    58                  Growlithe   Fire  ...          1       True     True
64    59                   Arcanine   Fire  ...          1       True     True
83    77                     Ponyta   Fire  ...          1       True     True
84    78                   Rapidash   Fire  ...          1       True     True
135  126                     Magmar   Fire  ...          1       True     True
147  136                    Flareon   Fire  ...          1       True     True
158  146                    Moltres   Fire  ...          1       True     True
169  155                  Cyndaquil   Fire  ...          2       True     True
170  156                    Quilava   Fire  ...          2       True     True
171  157                 Typhlosion   Fire  ...          2       True     True
236  218                     Slugma   Fire  ...          2       True     True
237  219                   Magcargo   Fire  ...          2       True     True
259  240                      Magby   Fire  ...          2       True     True
263  244                      Entei   Fire  ...          2       True     True
270  250                      Ho-oh   Fire  ...          2       True     True
276  255                    Torchic   Fire  ...          3       True     True
277  256                  Combusken   Fire  ...          3       True     True
278  257                   Blaziken   Fire  ...          3       True     True
279  257      BlazikenMega Blaziken   Fire  ...          3       True     True
352  322                      Numel   Fire  ...          3       True     True
353  323                   Camerupt   Fire  ...          3       True     True
354  323      CameruptMega Camerupt   Fire  ...          3       True     True
355  324                    Torkoal   Fire  ...          3       True     True
435  390                   Chimchar   Fire  ...          4       True     True
436  391                   Monferno   Fire  ...          4       True     True
437  392                  Infernape   Fire  ...          4       True     True
518  467                  Magmortar   Fire  ...          4       True     True
542  485                    Heatran   Fire  ...          4       True     True
557  498                      Tepig   Fire  ...          5       True     True
558  499                    Pignite   Fire  ...          5       True     True
559  500                     Emboar   Fire  ...          5       True     True
572  513                    Pansear   Fire  ...          5       True     True
573  514                   Simisear   Fire  ...          5       True     True
614  554                   Darumaka   Fire  ...          5       True     True
615  555    DarmanitanStandard Mode   Fire  ...          5       True     True
616  555         DarmanitanZen Mode   Fire  ...          5       True     True
692  631                    Heatmor   Fire  ...          5       True     True
721  653                   Fennekin   Fire  ...          6       True     True
722  654                    Braixen   Fire  ...          6       True     True
723  655                    Delphox   Fire  ...          6       True     True
730  662                Fletchinder   Fire  ...          6       True     True
731  663                 Talonflame   Fire  ...          6       True     True
735  667                     Litleo   Fire  ...          6       True     True
736  668                     Pyroar   Fire  ...          6       True     True
799  721                  Volcanion   Fire  ...          6       True     True

[52 rows x 13 columns]

In [18]:
pk['Type 1'].unique ()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [19]:
pk['Legendary'].unique()

array([False,  True])

In [ ]:
pk.loc[mask,'Legendary']= True
pk.head(20)

In [81]:
pk.loc[(pk['Type 1'] == 'Fire') & (pk['Legendary'] == True),'interes']=True
pk.head()

   #                   Name Type 1  ... Generation  Legendary  interes
0  1              Bulbasaur  Grass  ...          1      False    False
1  2                Ivysaur  Grass  ...          1      False    False
2  3               Venusaur  Grass  ...          1      False    False
3  3  VenusaurMega Venusaur  Grass  ...          1      False    False
4  4             Charmander   Fire  ...          1       True     True

[5 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [ ]:
pk3=pk.loc[pk['Type 1'] == "Fire",:]
pk3

In [130]:
import pandas as pd
promedio=pk3
print(promedio['Attack'].mean())

84.76923076923077

In [140]:
pk.groupby(['Type 1']).mean()

                   #         HP      Attack  ...  Generation  Legendary  interes
Type 1                                       ...
Bug       334.492754  56.884058   70.971014  ...    3.217391   0.000000      0.0
Dark      461.354839  66.806452   88.387097  ...    4.032258   0.064516      0.0
Dragon    474.375000  83.312500  112.125000  ...    3.875000   0.375000      0.0
Electric  363.500000  59.795455   69.090909  ...    3.272727   0.090909      0.0
Fairy     449.529412  74.117647   61.529412  ...    4.117647   0.058824      0.0
Fighting  363.851852  69.851852   96.777778  ...    3.370370   0.000000      0.0
Fire      327.403846  69.903846   84.769231  ...    3.211538   1.000000      1.0
Flying    677.750000  70.750000   78.750000  ...    5.500000   0.500000      0.0
Ghost     486.500000  64.437500   73.781250  ...    4.187500   0.062500      0.0
Grass     344.871429  67.271429   73.214286  ...    3.357143   0.042857      0.0
Ground    356.281250  73.781250   95.750000  ...    3.156250   0.125000      0.0
Ice       423.541667  72.000000   72.750000  ...    3.541667   0.083333      0.0
Normal    319.173469  77.275510   73.469388  ...    3.051020   0.020408      0.0
Poison    251.785714  67.250000   74.678571  ...    2.535714   0.000000      0.0
Psychic   380.807018  70.631579   71.456140  ...    3.385965   0.245614      0.0
Rock      392.727273  65.363636   92.863636  ...    3.454545   0.090909      0.0
Steel     442.851852  65.222222   92.703704  ...    3.851852   0.148148      0.0
Water     303.089286  72.062500   74.151786  ...    2.857143   0.035714      0.0

[18 rows x 10 columns]

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [68]:
# Escriba su código aquí
import pandas as pd

In [71]:
pk4=pd.read_csv('DUK.csv')

In [ ]:
pk4.head()

In [126]:

date=pk4[(pk4['Date'] > '2014-12-31') & (pk4['Date'] < '2016-01-01')]
date

           Date       Open       High        Low      Close  Adj Close   Volume
110  2015-01-02  83.540001  84.230003  83.089996  84.050003  68.374176  2266200
111  2015-01-05  83.599998  83.910004  82.610001  82.839996  67.389832  3780400
112  2015-01-06  82.919998  84.790001  82.919998  84.199997  68.496178  5290900
113  2015-01-07  84.260002  84.889999  83.720001  84.470001  68.715836  2583500
114  2015-01-08  84.919998  85.279999  84.570000  84.809998  68.992432  2165100
..          ...        ...        ...        ...        ...        ...      ...
357  2015-12-24  72.000000  72.389999  71.900002  72.040001  61.949467  1018200
358  2015-12-28  71.750000  72.260002  71.599998  71.919998  61.846283  2351800
359  2015-12-29  72.279999  72.750000  72.169998  72.370003  62.233242  1943600
360  2015-12-30  72.370003  72.599998  72.120003  72.190002  62.078468  2062000
361  2015-12-31  72.139999  72.220001  70.739998  71.389999  61.390526  2999500

[252 rows x 7 columns]

In [128]:
import pandas as pd

print(date['Open'].mean())

74.8137697698413